
<li>
    <%if(locals.user.id == post.user.id) {%>
        <a href="/posts/destroy/<%=post.id%>">delete</a>
        <%}%>
    <p>
    <%=post.content%>
    <br>
    <small><%=post.user.name%></small>
    <form action="/comments/create" method="post">
        <input type="text" name="content" placeholder="Add comment here..." required="true">
        <input type="hidden" name="post" value='<%=post._id%>'>
        <input type="submit" value="ADD">
    </form>
    <%for(comment of post.comment){ %>
        <%- include('comments.ejs') -%>
        <% } %>
    </p>
</li>


