<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' type="text/css" href="/css/home.css">
    <link rel='stylesheet' type="text/css" href="/css/header.css">
    <link rel = 'stylesheet' ,type="text/css" href="/css/profile.css">
    <link rel = 'stylesheet' ,type="text/css" href="/css/posts.css">


    <link rel="stylesheet" type='text/css' href="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.css">

    <script src="https://cdnjs.cloudflare.com/ajax/libs/noty/3.1.4/noty.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    
    <title>Document</title>
</head>
<body>
    <%- include('partials/header') %>
    <%- body %>
    <%- include('partials/footer') %>
    <%- script %>
    
</body>
<script>
     
     <% if(flash.success && flash.success.length > 0){%>
        new Noty({
        text: "<%= flash.success%>",
          theme: 'relax',
          layout : 'topRight',
          timeout : 2000,
        type: 'success'
      }).show();
    <%}%>

    <% if(flash.error && flash.error.length > 0){%>
        new Noty({
        text: "<%= flash.error%>",
          theme: 'relax',
          layout : 'topRight',
          timeout : 2000,
        type: 'error'
      }).show();
    <%}%>
</script>
</html>