
    <img src="<%=profile_user.avatar%>" width="100" alt="<%=profile_user.name%>">
    <%if(locals.user.id==profile_user.id) {%>
        <form action="/users/updates/<%=user.id%>" method="post" enctype="multipart/form-data">
            <input type="text" name="name" value="<%=user.name%>" required="true">
            <input type="email" name="email" value="<%=user.email%>" required="true">
            <input type="file" name="avatar" placeholder="profile picture">
            <input type="submit" value="submit" >
        </form>
        <%}else {%>
            <p>
                <%=profile_user.email%>
            </p>
            <p>
                <%=profile_user.name%>
            </p>
            <%}%>